<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Built_in_filters</h1>

        <!-- <h1>{{data}}</h1> -->

        <!-- <h1>{{data|lower}}</h1>
        <h1>{{data|upper}}</h1>
        <h1>{{data|capfirst}}</h1>
        <h1>{{data|title}}</h1> -->

        <!-- <h1>{{dt}}</h1> -->
        <!-- for dates
        <h1>{{dt|date:'d'}}</h1>
        <h1>{{dt|date:'j'}}</h1>
        <h1>{{dt|date:'jS'}}</h1>

        for months 
        <h1>{{dt|date:'m'}}</h1>
        <h1>{{dt|date:'n'}}</h1>
        <h1>{{dt|date:'b'}}</h1>
        <h1>{{dt|date:'M'}}</h1>
        <h1>{{dt|date:'F'}}</h1>

        for years 
        <h1>{{dt|date:'y'}}</h1>
        <h1>{{dt|date:'Y'}}</h1>
        for weeks
        <h1>{{dt|date:'D'}}</h1>
        <h1>{{dt|date:'l'}}</h1> -->
        

        <!-- <h1>{{data|truncatewords:'3'}}</h1>
        <h1>{{data|truncatewords:'2'}}</h1>

        outer number not included like slicing 
        <h1>{{data|truncatechars:'3'}}</h1>
        <h1>{{data|truncatechars:'6'}}</h1>

        <h1>{{data|slice:'6'}}</h1>
        <h1>{{data|slice:'3'}}</h1> -->

        <!-- Pluralizations -->
        <h1>I have {{cnt}} dog{{cnt|pluralize}} </h1>

        <h1>I have {{cnt}} mango{{cnt|pluralize:'es'}}</h1>

        <h1>This {{cnt}} dog{{cnt|pluralize}}  {{cnt|pluralize:'is,are'}} mine </h1>



        


    </center>
</body>
</html>